body {
    padding:0px;
    margin: 0px;
}
.container{
    max-width:1200px;
    margin:0 auto;
}
header{
    position:absolute;
    top:100px;
    left:50px;
    width:300px;
    height:200px;
}
        .anh img {
            position:absolute;
            background-image: url('thptNKKN.jpg') ;
            background-repeat:no-repeat;
            width:100px;
            height: 50px;
            z-index: -2;
            border-radius: 30px 0px 30px 0px;
        }
.container > header >.chu1 {
    width: 60%;
    background-image: url('logo.gif');
    background-position: 50px 5px;
    background-size: 110px 110px;
    padding-bottom: 5%;
    background-repeat:no-repeat;
    padding-left:200px;
    float:left;
    
}
.container > header >.chu1 a{
    text-decoration:none;
    font-size:15px;
    padding-top: 20%;
    
}
.container > header >.chu2 a{
    text-decoration:none;
    font-size:15px;
    padding-top: 20%;
}
.container>nav{
    line-height:40px;
    background-color:orangered;
    color:white;
    text-align:center;
    font-variant:small-caps;
}
 
.container > aside{
    min-height:400px;
    width:25%;
    background-color:lightgray;
    float:right;
}    
.container > footer{
    border-top:5px double orangered;
    line-height:50px;
    background-color:lightcyan;
    text-align:center;
    font-variant:small-caps;
    clear:both;
}    
.container > nav > a{
    color:white;
    text-decoration:none;
    margin:0 10px;
}    
.container > nav > a:hover{
    color:yellow;
    text-decoration:underline;
}    
.vmenu{
    padding:4px 7px 2px 4px ;
    margin:5px;
    list-style:none;
    border-radius:8px;
    box-shadow: 0 0 2px gray;
}
    .vmenu li a {
        background:url('Anh2.jpg') no-repeat left;
        display:block;
        border-bottom: 1px dotted orangered;
        color:orangered;
        font-variant:small-caps;
        font-size:12px;
        text-decoration:none;
        padding-left:50px;
        line-height: 60px;
    }
        .vmenu li a:hover {
            background: url('Anh1.jpg') no-repeat -1px center;
            color:white;
            font-weight:bold;
        }
